{% extends 'home/base.html' %}

{% block header %}
{% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Profile</a>
    <a class="btn-basic" href="{% url 'logout' %}">Logout</a>
{% else %}
    <a class="btn-basic" href="{% url 'login' %}">Login</a>
    <a class="btn-basic" href="{% url 'singup' %}">Sing Up</a>
{% endif %}
{% endblock header %}

{% block chat %}
<a class="btn-basic" href="{% url 'chat' %}">Create Game</a>
<a class="btn-basic" href="{% url 'viewallrequest' %}">View all Requests</a>
<a class="btn-basic" href="{% url 'allrooms' %}">View rooms</a>
<a class="btn-basic" href="/request/allPublic/0">View all public rooms</a>
{% endblock chat %}