{% extends 'home/menu.html' %}

{% block header %}
{% endblock header %}

{% block main %}
        <div class="button-list">
            {% if user.is_authenticated %}
                <a class="btn-basic btn-bigger" href="{% url 'profile' %}">Profile</a>
                <a class="btn-basic btn-bigger" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn-basic btn-bigger" href="{% url 'login' %}">Login</a>
                <a class="btn-basic btn-bigger" href="{% url 'sign_up' %}">Sign Up</a>
            {% endif %}
            <a class="btn-basic btn-bigger" href="{% url 'chat' %}">Create Game</a>
            <a class="btn-basic btn-bigger" href="{% url 'viewallrequest' %}">View all Requests</a>
            <a class="btn-basic btn-bigger" href="{% url 'allrooms' %}">View rooms</a>
            <a class="btn-basic btn-bigger" href="/request/allPublic/0">View all public rooms</a>
        </div>
{% endblock main %}