<!-- chat/templates/chat/room.html -->
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chatroom.css' %}">
</head>

<body>
    <div id="wrap>">
        <div id="container-header-gm">
            <a class="leavebutton" href="{% url 'home' %}">Leave Room</a>
        </div>
        <div id="container-body">
            <div id="body-left">
                <div id="chat-wrap">
                    <div id="chat-log-wrapper">
                        <div id="chat-log">
                            {% for chat in chats.all %}
                            <div class="messageContainer">
                                <p class="messageDate">{{chat.timestamp}}</p>
                                <p class="messageUser">{{chat.user}}:</p>
                                <p class="messageContent">{{chat.content}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <input class="textInput" id="chat-message-input" type="text" size="100">
                    <input class="button" id="chat-message-submit" type="button" value="Send">
                    {{ room_name|json_script:"room-name" }}
                    <script src="{% static 'room.js' %}"></script>
                </div>
            </div>

            <div id="body-right">
                <div id="top-nav-gm">
                    <div id="charlist-wrap">
                        <p id="char-name">Lista postaci gracza: </p><br>
                        <div id="char-list">
                            <a class="leavebutton" href="{% url 'create_character' room_name %}">Create character</a><br><br>
                            {% for character in playerCharacters %}
                            <a class="leavebutton" href="{% url 'view_character' character.id %}">{{character.name}}</a><br><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="charlist-wrap">
                        <p id="char-name">Lista postaci innych graczy: </p><br>
                        <div id="char-list">
                            {% for character in otherCharactersList %}
                            {{character.name}}<br><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>