:root{
    --bg: #e8ebf1;
    --btn: #bed0e7;
    --active-btn: #a3bbdb;
    --light: #ffffff;
    --heavy-accent: #476996;
}
body{
    margin:0 auto;
    padding: 0;
    display: flex;
    height: 100%;
}

#left{
    width: 75%;
}

#right {
    width: 25%;
}

#nav{
    height: 5%;
    display: flex;
}

#leave{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    width: 85%;
    display: flex;
    font-size:2em;
    justify-content: center;
    align-items: center;
    Color:var(--heavy-accent);
}
#nav,#leave,#title,#right{
    background-color: var(--btn);
}
#board{
    height: 800px;
    overflow-x: scroll;
    overflow-y: scroll;
}

#button_right_nav{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_right_nav2{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{    
    display:block;
    margin:1% auto;
    background-color: var(--light);
    padding:0.8em;
    text-align: center;
    border-radius: 1em;
    border:none;
    text-decoration: none;
    color: var(--heavy-accent);
    font-size: 80%;
    width: fit-content;
    font-weight: normal;
}

#right_content{
    height: 94%;
}

#chat{
    display: block;
}

#char_list,
#player_panel,
#active_element{
    display:none;
}

#chat-log,#chat-message-input{
    background-color: var(--light);
    border-radius: 1em;
    padding:2%;
    margin: 2% ;
    resize:vertical;
    border:none;
    width:92%;
    hyphens:auto;
    word-wrap: break-word;
}
#chat-message-input{
    height: 10vh;
    max-height: 20vh;
    vertical-align: top;
    align-content:top;
}
.btn-message{
    float:left;
    margin:2%;
}
#chat-log {
    height: 70vh;
    max-height: 80vh;
    display: block;
    overflow-y: scroll;
}
.messageContainer{
    height: fit-content;
}
.messageContainer p {
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    padding: 5px 1px;
}

.row{
    height: 50px;
    display:flex;
}

.element{
    height: 50px;
    width: 50px;
    border-style: groove;
}
