:root{
    --wrap-medium: #4A5A69;
    --dark-background: #232C33;
    --low-priority: #8095A9;
    --light-high-priority: #D3D5D7; 
}
@font-face {
    font-family: CP;
    src: url('Copperplate.ttf') format('truetype');
  }
a {
    margin: auto 1em;
    background-color: var(--light-high-priority);
    Color: var(--dark-background);
    border: var(--light-high-priority);
    font-size: 15px;
    padding: 5px 20px;
    font-family: CP;
    height:30px;
    width:90px;
}
a:link{
    Color: var(--dark-background);
}
a:visited, a:active{
    Color: var(--dark-background);
}

body{
    background-color: var(--dark-background);
    Color: var(--light-high-priority);
    font-family: CP;
}
header{
    margin:1em auto;
}

textarea, input, select{
    background-color: var(--wrap-medium);
    Color:var(--light-high-priority);
    border: none;
    margin:2px;
}