{% extends 'home/menu.html' %}
{% load crispy_forms_tags %}

{% block main %}
<h2>Create request to join room {{room}}</h2>

{% if error %}
<div class="alert alert-block alert-danger">
    <ul class=m-0>
        <li>
            {{error}}
        </li>
    </ul>
</div>
{% endif %}
<div class="crispy-input">
<form method="POST">
    {% csrf_token %}
    <h1>
    {{ form|crispy }}</h1>
    <button type="submit" class="btn-basic">Create</button>
</form>
</div>
<a class="btn-basic" href="{% url 'home' %}">Home</a>
{% endblock main %}