{% extends 'home/base.html' %}

{% block main %}
<div id="wrap">
<p>
    <b>GM room:</b>
    
    {% for room in gm_room %}
        <br><a href="{% url 'room' room.name %}">{{room}}</a>
    {% endfor %}
    <br>
<div id="container-body">
    <b>Game room:</b><br>
    {% for character_room in characters_room %}
        {{character_room.character.name}} ({{character_room.room.name}})
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="character" value={{character_room.character.name}}>
            <input type="hidden" name="room" value={{character_room.room.name}}>
            <input type="submit" value="Choice"/>
        </form>
    {% endfor %}
</p>
</div>
<a class="login_link" href="{% url 'home' %}">Home</a>

</div>
{% endblock main %}