{% extends 'home/menu.html' %}

{% block main %}
{% if error %}
<div class="alert alert-block alert-danger">
    <ul class=m-0>
        <li>{{error}}</li>
    </ul>
</div>
{% endif %}
<h2>All public rooms</h2>
<div class="crispy-input crispy-search">
<form method="post">
    {% csrf_token %}
    <label for="search">Search Room: </label>
    <input type="text" id="search" name="search">
</form>
</div>
<div class="menu-section">
    <table>
    {% for room in rooms %}
    <tr>
        <th style="width:70%;">
            <label class="item-name">{{ room }} | {{room.gamemaster}}</label><br>
            <label class="item-desc">{{room.description}}</label> 
        </th>
        <th style="width:30%">
            <div class="crispy-input">
            <form method="post"></form>
            {% csrf_token %}
                <input type="hidden" id="room" name="room" value="{{room}}">
                <button class="btn-basic btn-small go-small" type="submit">Send request</button>
            </form>
            </div>
        </th>
    </tr>
    {% endfor %}
    </table>
</div>

<div style="display: flex">
    {% if first %}
    {% else %}
        <a href="{% url 'allPublicRooms' id_page|add:-1 %}">&lt</a>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="number" id="id_new_side" name="id_new_side" min="0" max="{{max_side_id}}" size="2" value="{{id_page}}">
    </form>

    {% if next %}
        <a href="{% url 'allPublicRooms' id_page|add:1 %}">&gt</a>
    {% endif %}
</div>
<div id="menu-bottom-glue">
    <a class="btn-basic" href="{% url 'home' %}">Home</a>
</div>
{% endblock main %}