{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{%block main-top%}
{%endblock%}
{% block main %}
<div class="parent-main-container create-char-container">
    <div class="floating-menu create-char">
        <a class="btn-basic btn-small" class="login_link" href="{% url 'home' %}">Home</a>
    <h1>Edit your character</h1>
        <div class="crispy-input create-char-form">
            <div class="button-list">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn-basic">Save</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock main %}
{%block main-bottom%}
{%endblock%}



